@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    font-family: "Roboto", sans-serif;
    color: #194569;
    /* ******************** */
    width: 280px;
    background-color: #ffffff;
    /* internal layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

img {
    pointer-events: none;
}

img,
h3,
h4,
h5,
a,
span {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

h3:hover {
    background-color: #5f84a2;
}

h4,
a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

h5 {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

a {
    text-decoration: none;
}


/* ************************************************************************* Header */

#header {
    flex: none;
    align-self: stretch;
    /* internal layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
}


/* ************************************************************************* content */

#content {
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    /* internal layout */
    padding: 0 16px;
}

.list_group {
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    /* ******************** */
    border-bottom: 1px solid #91aec4;
    /* internal layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0;
}

.list_element {
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    /* internal layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    /* animation */
    transition: 0.3s;
}

.list_element:hover {
    background-color: #dbecf4;
    transition: 0.3s;
}

.stacked_text {
    flex: none;
    align-self: stretch;
    flex-grow: 1;
    /* internal layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

#current_font {
    display: none;
}


/* ***************************************************************** */

.dropdown-content {
    display: none;
    position: absolute;
    /* top: 10.25em; */
    /* width: 100%; */
    background-color: #ffffff;
    overflow: auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 1;
}

.show {
    display: block;
}

.selected {
    background-color: #dbecf4;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.3s;
}


/* ************************************************************************* actions */

#actions {
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    padding: 24px;
    /* internal layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

#settings {
    /* clear button */
    background: none;
    border: none;
    /* ******************** */
    color: #5f84a2;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    /* internal layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    /* animation */
    transition: 0.3s;
}

#settings:hover {
    color: #194569;
    transition: 0.3s;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}


/* ***************************************** */

.toggle {
    cursor: pointer;
    /* display: inline-block; */
}

.toggle-switch {
    display: inline-block;
    background: #dbecf4;
    border: solid 2px #79747e;
    border-radius: 18px;
    width: 52px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: 0.3s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: #79747e;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.3s;
}

.toggle-checkbox:checked+.toggle-switch {
    background: #5f84a2;
    border: solid 2px #79747e00;
    transition: 0.3s;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 24px;
    background: white;
    transition: 0.3s;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}